/* Layout styles */
.app__content{
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: aliceblue;
}

.app__header{
  text-align: center;
  width: 100%;
  background: rgb(69,57,204);
}
.app__pages{
  text-align: center;
  flex: 1;
}
.app__menu{
  text-align: center;
  width: 100%;
  background-color: #6c5ce7;
  padding: 10px 0;
}
.app__rodape{
  text-align: center;
  width: 100%;
  background-color: rgb(69,57,204);
}
/* Header */
.header__h1{
  font-family: 'Cinzel', serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.3em;
  color: #fff;
}
.header__p{
  font-family: 'Cinzel', serif;
  font-weight: 500;
  color: #b2bec3;
  font-size: 0.9em;
}

/* rodape */

.rodape__div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #b2bec3;
}
.rodape__p{
  font-family: 'Cinzel', serif;
  font-weight: 500;
  margin: 0 5px;
}
/* Scroll Events */
.Scroll__h3{
  position: absolute;
  top: 180vh;
  display: none;
}

